<!--contact-->
<section class="content-section bg-primary text-white" id="contact">
    <div class="container text-center">
        <h2 class="mb-4">Want to see more?</h2>
        <a href="mailto:iankim2280@gmail.com" class="btn btn-xl btn-dark">Contact me</a>
    </div>
</section>