<section class="content-section bg-primary text-white" id="contact">
    <div class="container text-center">
        <h2 class="mb-4">Feel free to contact me</h2>
        <a href="camelkish1@gmail.com" class="btn btn-xl btn-dark">Contact me</a>
    </div>
</section>