<!--home-->
<section class="content-section" id="home">
    <div class="container text-center">
        <img id="profilePhoto" src="img/KakaoTalk_20200213_165016753.jpg">
        <h2 class="mx-auto mb-5">Hi. I’m Ian, a web developer from Barrie, Ontario.<br>Please take a look around!</h2>
    </div>
</section>

<!-- About -->
<section class="content-section bg-light" id="about">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h2>A Little Bit About Me</h2>
                <h3 class="lead mb-5">As a student at Georgian College in the Computer Studies, I've done a lot of
                    interesting work in various fields.
                    <br>I maintain this page as documentation of that work, so I can point people to it as an example my
                    computer science knowledge and programming abilities.</h3>
                <a class="btn btn-dark btn-xl js-scroll-trigger" href="https://resume-iankim.netlify.app/">Resume</a>
                <a class="btn btn-dark btn-xl js-scroll-trigger" href="#services">What I Offer</a>
            </div>
        </div>
    </div>
</section>

<!--services-->
<section class="content-section bg-primary text-white text-center" id="services">
    <div class="container">
        <div class="content-section-heading">
            <h3 class="text-secondary mb-0">Services.</h3>
            <h2 class="mb-5">I like to code things from scratch, and enjoy bringing ideas to life in the browser.</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                <span class="service-icon rounded-circle mx-auto mb-3">
                    <i class="icon-screen-smartphone"></i>
                </span>
                <h4>
                    <strong>Graphic Design</strong>
                </h4>
                <p class="text-faded mb-0">Photoshop & Illustrator</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                <span class="service-icon rounded-circle mx-auto mb-3">
                    <i class="icon-screen-desktop"></i>
                </span>
                <h4>
                    <strong>Front-End</strong>
                </h4>
                <p class="text-faded mb-0">HTML & CSS & JavaScript-React</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
                <span class="service-icon rounded-circle mx-auto mb-3">
                    <i class="icon-mouse"></i>
                </span>
                <h4>
                    <strong>Back-End</strong>
                </h4>
                <p class="text-faded mb-0">NodeJS & ExpressJS</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <span class="service-icon rounded-circle mx-auto mb-3">
                    <i class="icon-calculator"></i>
                </span>
                <h4>
                    <strong>Enthusiastic</strong>
                </h4>
                <p class="text-faded mb-0">Love to Learn & Work</p>
            </div>
        </div>
    </div>
</section>

<!--portfolio-->
<section class="content-section" id="portfolio">
    <div class="container">
        <div class="content-section-heading text-center">
            <h3 class="text-secondary mb-0">Portfolio / Labs</h3>
            <h2 class="mb-5">Recent Projects</h2>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6">
                <a class="portfolio-item" href="https://github.com/iankim2280/node-react">
                    <span class="caption">
                        <span class="caption-content">
                            <h2>node js boiler-plate - login and register</h2>
                            <p class="mb-0">This project was built with NodeJS, ExpressJS, Create-react-app, MongoDB,
                                ReduxJS.</p>
                        </span>
                    </span>
                    <img class="img-fluid" src="img/portfolio-1.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="https://github.com/iankim2280/airbnb-clone">
                    <span class="caption">
                        <span class="caption-content">
                            <h2>Airbnb site clone - front-end</h2>
                            <p class="mb-0">This project used react, scss, es6 modules.</p>
                        </span>
                    </span>
                    <img class="img-fluid" src="img/portfolio-4.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="https://github.com/iankim2280/mern-youtube-clone">
                    <span class="caption">
                        <span class="caption-content">
                            <h2>video upload app with login, register, subscribe, reply function</h2>
                            <p class="mb-0">This project used built with NodeJS, ExpressJS, Create-react-app, MongoDB,
                                ReduxJS.</p>
                        </span>
                    </span>
                    <img class="img-fluid" src="img/portfolio-4.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="https://github.com/iankim2280/tmdb-mern">
                    <span class="caption">
                        <span class="caption-content">
                            <h2>movie data api app</h2>
                            <p class="mb-0">This project fetched api from https://www.themoviedb.org/ .</p>
                        </span>
                    </span>
                    <img class="img-fluid" src="img/portfolio-1.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="https://github.com/iankim2280/node-react">
                    <span class="caption">
                        <span class="caption-content">
                            <h2>Static React App</h2>
                            <p class="mb-0">This project was built with Create-react-app, Styled-components.</p>
                        </span>
                    </span>
                    <img class="img-fluid" src="img/portfolio-1.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="https://github.com/iankim2280/airbnb-clone">
                    <span class="caption">
                        <span class="caption-content">
                            <h2>Todo List App</h2>
                            <p class="mb-0">This project was built with Create-react-app, Material-ui</p>
                        </span>
                    </span>
                    <img class="img-fluid" src="img/portfolio-4.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
</section>

<!--contact-->
<section class="content-section bg-primary text-white" id="contact">
    <div class="container text-center">
        <h2 class="mb-4">Want to see more?</h2>
        <a href="mailto:iankim2280@gmail.com" class="btn btn-xl btn-dark">Contact me</a>
    </div>
</section>