<!--portfolio-->
<section class="content-section" id="portfolio">
  <div class="container">
    <div class="content-section-heading text-center">
      <h3 class="text-secondary mb-0">Portfolio / Labs</h3>
      <h2 class="mb-5">Recent Projects</h2>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6">
        <a class="portfolio-item" href="https://confident-williams-d117ab.netlify.app/">
          <span class="caption">
            <span class="caption-content">
              <h2>airbnb frontend clone</h2>
              <p class="mb-0">This project used ReactJs, ReduxJs.</p>
            </span>
          </span>
          <img class="img-fluid" src="img/portfolio-4.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-6">
        <a class="portfolio-item" href="https://iankim2280.github.io/quizGame">
          <span class="caption">
            <span class="caption-content">
              <h2>quiz game</h2>
              <p class="mb-0">This project used vue.js, async/await, audio API, speech synthesis API,
                speech recognition API.</p>
            </span>
          </span>
          <img class="img-fluid" src="img/portfolio-1.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-6">
        <a class="portfolio-item" href="https://iankim2280.github.io/twitter/">
          <span class="caption">
            <span class="caption-content">
              <h2>twitter page</h2>
              <p class="mb-0">Twitter clone - This project used ES modules, arrow functions, array
                methods.</p>
            </span>
          </span>
          <img class="img-fluid" src="img/portfolio-1.jpg" alt="">
        </a>
      </div>

      <div class="col-lg-6">
        <a class="portfolio-item" href="https://iankim2280.github.io/DJingApp">
          <span class="caption">
            <span class="caption-content">
              <h2>loop station</h2>
              <p class="mb-0">This project used jQuery.</p>
            </span>
          </span>
          <img class="img-fluid" src="img/portfolio-4.jpg" alt="">
        </a>
      </div>
    </div>
</section>