<!--portfolio-->
<section class="content-section" id="portfolio">
    <div class="container">
        <div class="content-section-heading text-center">
            <h3 class="text-secondary mb-0">Portfolio / Labs</h3>
            <h2 class="mb-5">Recent Projects</h2>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6">
                <a class="portfolio-item" href="http://aws.computerstudi.es/~gc200390934/COMP2112/Assignment/Assignment2/index.html">
                <span class="caption">
                  <span class="caption-content">
                    <h2>quiz game</h2>
                    <p class="mb-0">This project used vue.js, async/await, audio API, speech synthesis API, speech recognition API.</p>
                  </span>
                </span>
                    <img class="img-fluid" src="img/portfolio-1.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="http://aws.computerstudi.es/~gc200390934/COMP2112/Assignment/Assignment1/index.html">
            <span class="caption">
              <span class="caption-content">
                <h2>twitter page</h2>
                <p class="mb-0">This project used ES modules, arrow functions, array methods.</p>
              </span>
            </span>
                    <img class="img-fluid" src="img/portfolio-2.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="http://aws.computerstudi.es/~gc200390934/personalWorks/Messenger/messenger.html">
            <span class="caption">
              <span class="caption-content">
                <h2>messenger</h2>
                <p class="mb-0">This project used jQuery.</p>
              </span>
            </span>
                    <img class="img-fluid" src="img/portfolio-3.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="http://aws.computerstudi.es/~gc200390934/personalWorks/music/loop.html">
                <span class="caption">
                  <span class="caption-content">
                    <h2>loop station</h2>
                    <p class="mb-0">This project used jQuery.</p>
                  </span>
                </span>
                <img class="img-fluid" src="img/portfolio-4.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
</section>