<!--portfolio-->
<section class="content-section" id="portfolio">
  <div class="container">
    <div class="content-section-heading text-center">
      <h3 class="text-secondary mb-0">Portfolio / Labs</h3>
      <h2 class="mb-5">Recent Projects</h2>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6">
        <a class="portfolio-item" href="https://github.com/iankim2280/node-react">
          <span class="caption">
            <span class="caption-content">
              <h2>node js boiler-plate - login and register</h2>
              <p class="mb-0">This project was built with NodeJS, ExpressJS, Create-react-app, MongoDB,
                ReduxJS.</p>
            </span>
          </span>
          <img class="img-fluid" src="img/portfolio-1.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-6">
        <a class="portfolio-item" href="https://github.com/iankim2280/airbnb-clone">
          <span class="caption">
            <span class="caption-content">
              <h2>Airbnb site clone - front-end</h2>
              <p class="mb-0">This project used react, scss, es6 modules.</p>
            </span>
          </span>
          <img class="img-fluid" src="img/portfolio-4.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-6">
        <a class="portfolio-item" href="https://github.com/iankim2280/mern-youtube-clone">
          <span class="caption">
            <span class="caption-content">
              <h2>video upload app with login, register, subscribe, reply function</h2>
              <p class="mb-0">This project used built with NodeJS, ExpressJS, Create-react-app, MongoDB,
                ReduxJS.</p>
            </span>
          </span>
          <img class="img-fluid" src="img/portfolio-4.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-6">
        <a class="portfolio-item" href="https://github.com/iankim2280/tmdb-mern">
          <span class="caption">
            <span class="caption-content">
              <h2>movie data api app</h2>
              <p class="mb-0">This project fetched api from https://www.themoviedb.org/ .</p>
            </span>
          </span>
          <img class="img-fluid" src="img/portfolio-1.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-6">
                <a class="portfolio-item" href="https://github.com/iankim2280/node-react">
                    <span class="caption">
                        <span class="caption-content">
                            <h2>Static React App</h2>
                            <p class="mb-0">This project was built with Create-react-app, Styled-components.</p>
                        </span>
                    </span>
                    <img class="img-fluid" src="img/portfolio-1.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="https://github.com/iankim2280/airbnb-clone">
                    <span class="caption">
                        <span class="caption-content">
                            <h2>Todo List App</h2>
                            <p class="mb-0">This project was built with Create-react-app, Material-ui</p>
                        </span>
                    </span>
                    <img class="img-fluid" src="img/portfolio-4.jpg" alt="">
                </a>
            </div>
    </div>
  </div>
</section>