
/* Side Menu */
#sidebar-wrapper {
    background: #8060A6 !important;
}

.service-icon {
    color: #8060A6 !important;
}

footer.footer .social-link {
    background-color: #8060A6 !important;
}

a {
    /*color: #8060A6 !important;*/
}


.btn-primary {
    background-color: #8060A6 !important;
    border-color: #8060A6 !important;
    color: #fff !important;
}

.bg-primary {
    background-color: #8060A6 !important;
}

.text-primary {
    color: #8060A6 !important;
}

.text-secondary {
    color: #155C8A !important;
}

#profilePhoto {
    margin: 0 auto;
    /*width: 350px;*/
    /*height: 350px;*/
    border-radius: 50%;
    padding-bottom: 50px;
}

#home {
    background-color: seashell;
}

@media (max-width: 375px) {
    #profilePhoto {
        width: 245px;
        height: 325px;
    }
}

@media (max-width: 425px) and (min-width: 376px) {
    #profilePhoto {
        width: 290px;
        height: 385px;
    }
}